.error-message-container {
  margin-bottom: 3rem !important;
}

.profile-container {
  margin-top: 2rem !important;
  margin: auto;
  width: 50%;
  padding: 3rem;
  background: white;
  border-radius: 10px !important;
  box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.profile-media {
  margin-bottom: 4rem;
}

.profile-body {
  margin-left: 2rem !important;
}

.profile-picture {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}

.profile-buttons-container {
  margin-left: 3rem !important;
}

.profile-info-text {
  font-size: 1.2rem;
}

.profile-message-button {
  margin-left: 2rem !important;
}

.profile-update-image {
  cursor: pointer;
  transition: 0.25s !important;
}

.profile-update-image:hover {
  box-shadow: 4px 4px 15px 2px !important;
}

.profile-clicked-update-image {
  cursor: pointer;
  box-shadow: 4px 4px 15px 2px !important;
  transition: 0.25s !important;
}

.submit-button {
  margin-top: 0.5rem !important;
}

@media all and (max-width: 1400px) {
  .profile-container {
    width: 60% !important;
  }
}

@media all and (max-width: 1300px) {
  .profile-container {
    width: 70% !important;
  }
}

@media all and (max-width: 1000px) {
  .profile-container {
    width: 80% !important;
  }

  .profile-update-images a {
    width: 4rem !important;
  }
}

@media all and (max-width: 863px) {
  .profile-message-button {
    margin-top: 1rem !important;
  }
}

@media all and (max-width: 767px) {
  .profile-container {
    width: 90% !important;
  }

  .profile-picture {
    display: none;
  }

  .profile-media {
    margin-bottom: 4rem;
  }
}

@media all and (max-width: 420px) {
  .profile-buttons,
  .profile-body,
  .profile-media {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
  }

  .profile-buttons-container {
    margin-top: 2rem !important;
  }

  .profile-buttons-container,
  .profile-body {
    margin-left: 0rem !important;
  }

  .profile-container {
    padding: 2rem !important;
  }
}
