.users-container {
    width: 85% !important;
    margin: auto !important;
}

.user-container {
    margin-bottom: 4rem !important;
}

@media all and (max-width: 767px) {
    .user-container {
        margin-bottom: 15% !important;
    }
    
    .user-content-container {
        display: flex !important;
        flex-direction: column;
        align-items: center !important;
    }
}