.comments-container {
    margin-top: 4rem;
    width: 40%;
}

.comment-container {
    margin-bottom: 1.5rem !important;
}

.comment-create-button {
    margin-top: 1rem !important;
}

@media all and (max-width: 1300px) {
    .comments-container {
        width: 60% !important;
    }
}

@media all and (max-width: 1000px) {
    .comments-container {
        width: 75% !important;
    }
}