.support-container {
    margin: auto;
    margin-top: 5rem;
    text-align: center;
    background-color: #E8EBF0;
    width: 50%;
    padding: 5rem;
    border-radius: 2%;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.support-header {
    font-size: 3rem !important;
}

.support-text, .support-home {
    font-size: 1.5rem !important;
    font-weight: 600 !important;
}

.support-button {
    margin-top: 1rem !important;
}
